PROJECT_ID=qwiklabs-gcp-01-ca95818a69b6
LOCATION=us-central1
MODEL_NAME=gemini-2.5-flash

GCS_BUCKET=labs-roitraining-com
GCS_PREFIX=alaska-dept-of-snow

LOG_DATASET=ads_agent_logs
LOG_TABLE=prompt_response_logs

MODEL_ARMOR_TEMPLATE_ID=ads-safety-template
MODEL_ARMOR_LOCATION=us-central1